<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Service.Properties.Settings>
      <setting name="ServidorAPI" serializeAs="String">
        <value>http://localhost:55980/api/</value>
      </setting>
      <setting name="UsuarioAPI" serializeAs="String">
        <value>c8b76359-e3e7-4c08-af66-07428a9204a6</value>
      </setting>
      <setting name="SenhaAPI" serializeAs="String">
        <value>1cb474993d9cd2161264579335325ba0</value>
      </setting>
    </Service.Properties.Settings>
  </userSettings>
</configuration>